<div id="<%= dom_id location %>">
  <div>
    <% if location.cover.attached? %>
      <% if action_name != "show" %>
        <%= link_to location do %>
          <img src="<%= url_for(location.cover) %>" class="object-cover w-full h-48">
        <% end %>
      <% else %>
        <%= image_tag location.cover %>
      <% end %>
    <% end %>
  </div>
  <p class="my-5">
    <strong class="block mb-1 font-medium"><%= location.name %></strong>
  </p>
</div>
