<div id="<%= dom_id location %>">
  <div>
    <% if location.cover.attached? %>
      <% if action_name != "show" %>
        <%= link_to location do %>
          <img src="<%= url_for(location.cover) %>" class="object-cover w-full h-48" alt="">
        <% end %>
      <% else %>
        <div style="background-image: url(<%= url_for(location.cover) %>)" class=" relative bg-center bg-cover w-full h-32">

          <p class="absolute bottom-0 left-0">
            <strong class="block bg-black/50 m-2 p-2 text-white font-medium"><%= location.name %></strong>
          </p>
        </div>

      <% end %>
    <% end %>
  </div>

</div>
